body {
    font-family: Arial, sans-serif;
    background-color: #98b4b6;
    margin: 15px;
    padding: 10px; 
    background-image: url('backgroundblue.jpeg');
}

header {
    text-align: center;
    background-color: #64a6b6;
    padding: 30px 0;
}

h1 {
    text-align: center;
    color: rgb(5, 29, 43);
    background-color: rgb(134, 173, 177);
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: rgb(10, 49, 71);
    background-color: rgb(115, 163, 179);
}

h3 {
    color: #100b58;
}

p {
    color: #1f5e72;
    margin-bottom: 20px;
}

a {
    display: block;
    color: #083830;
    text-decoration: none;
    margin-bottom: 10px;
}

.container {
    background-color: rgb(134, 185, 190);
    padding: 10px;
    margin: 50px auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center; 
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
    color: rgb(241, 237, 237);
}
